@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');
:root {
    --text_color1: #fff;
    --text_color2: #101010;
    --text_color3: #420808;
    --text_color4: #d32525;
    --text_color5: #143564;
    --text_color6: #3f8ffc;
    --bg_color1: #881c50;
    --bg_color2: #222222;
    --bg_color3: #315c8f;
    --bg_color4: #3475ca;
    --bg_color5: #641010;
    --bg_color6: #0e3a68;
    --bg_color7: #12222d;
    --bg_color8: #fff;
    --bg_color9: #262626;
    --bg_color10: #262626;
    --bg_color11:#f9f9f9;
    --bg_color12:#DC052D;
    --transition-some: background .3s, box-shadow 0.4s;
    --transition-all: all 0.4s;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.head {
    position: sticky;
   /* position: fixed; */
    top: 1px;
    left: 0;
    right: 0;
    background: var(--bg_color2);
    /* background: transparent; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
}

.navbar {
    position: relative;
    left: 22%;
    z-index: 10000000;
    height: 55px;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    position: relative;
    display: inline-block;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 12px;
    margin-left: 0px;
    color: var(--text_color1);
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    color: var(--text_color2);
    background: var(--bg_color12);
}
 .WebLogo {
     cursor: pointer;
     width: 59px;
     position: absolute;
     left: 50px;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    min-width: 278px;
    max-width: 350px;
    display: none;
}

header .navbar ul li ul a {
    background: var(--bg_color11);
    color: var(--text_color2); 
}

header .navbar ul li ul a:hover {
   background: var(--bg_color4);
    color: var(--text_color2);
}

header .navbar ul li ul li {
    width: 100%;
    /* border-top: 2px solid var(--bg_color4); */
    border-bottom: 2px solid var(--bg_color2);
}

header .navbar ul li ul li:hover {
    /*  border-top: 2px solid var(--bg_color8); */
    border-bottom: 2px solid var(--bg_color12);
}


header .navbar ul li:hover>ul {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
    background: #062830;
}

.history {
    cursor: pointer;
    background-color: #02181d;
    position: absolute;
    width: 98%;
    height: 125px;
    left: 10px;
    top: 1025px;
    border-radius: 5px;
    border: 5px solid rgb(15, 8, 39);
}

.history p {
    margin: 10px;
    text-align: justify;
    position: absolute;
    font-weight: 600;
    color: rgb(149, 149, 173);
}

.Guinness {
    cursor: pointer;
    width: 285px;
    height: 324px;
    position: absolute;
    top: 1286px;
    left: 617px;
    border-radius: 8px;
    z-index: 999999;
}

.goals_5 {
    width: 100%;
}

.overlay {
    z-index: 999999;
    width: 100%;
    height: 0%;
    background-color: rgb(34, 34, 34);
    position: absolute;
    bottom: 100%;
    transition: .7s ease;
    overflow: hidden;
}

.Guinness:hover .overlay {
    bottom: 0;
    height: 100%;
}

.Guinness_text {
    opacity: 0;
    width: 258px;
    height: 283px;
    color: white;
    font-size: 17px;
    position: absolute;
    padding-left: 5px;
    top: 26px;
    left: 9px;
    transform: translate(0%, 50%);
    transition: .7s ease;
}

.Guinness:hover .Guinness_text {
    opacity: 1;
    transform: translate(0%, 0%);
    position: absolute;
    top: 26px;
    left: 9px;
}

.stadiums {
    background-color: #02181d;
    border-radius: 5px;
    position: absolute;
    width: 98%;
    height: 1140px;
    top: 1771px;
    left: 14px;
}

.famous_stadiums {
    font-weight: bolder;
    position: absolute;
    top: 18px;
    left: 520px;
}

.stadiums p {
    position: relative;
    color: #ddd;
    font-weight: bold;
    text-align: center;
    background-color: #DC052D;
    height: 60px;
    width: 95%;
    left: 39px;
    margin-top: 10px;
    border-radius: 5px;
}

.Westfalenstadion {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 81px;
    width: 700px;
    height: 474px;
    background-color: #DC052D;
    border-radius: 8px;
    z-index: 999999;
}

.Wstadium {
    width: 100%;
}

.W_overlay {
    z-index: 999999;
    background-color: #DC052D;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 100%;
    transition: .7s ease;
}

.Westfalenstadion:hover .W_overlay {
    width: 100%;
}

.Wstadium_text {
    opacity: 0;
    width: 0%;
    height: 0%;
    color: rgb(34, 34, 34);
    font-size: 20px;
    position: absolute;
    padding-left: 5px;
    overflow: hidden;
    top: 280px;
    left: 184px;
    transform: translate(-50%, -50%);
    transition: opacity .7s ease 0.2s;
    text-align: justify;
}

.Westfalenstadion:hover .Wstadium_text {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 395px;
    left: 261px;
}

.Allianz_Arena {
    cursor: pointer;
    position: absolute;
    left: 770px;
    top: 81px;
    width: 700px;
    height: 474px;
    background-color: #DC052D;
    border-radius: 8px;
    z-index: 999999;
}

.Astadium {
    width: 100%;
}

.A_overlay {
    z-index: 999999;
    background-color: #DC052D;
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 0%;
    height: 100%;
    transition: .7s ease;
}

.Allianz_Arena:hover .A_overlay {
    left: 0;
    width: 100%;
}

.Astadium_text {
    opacity: 0;
    width: 0%;
    height: 0%;
    color: rgb(34, 34, 34);
    font-size: 20px;
    position: absolute;
    padding-left: 5px;
    overflow: hidden;
    top: 64px;
    left: 0px;
    transform: translate(10%, 10%);
    transition: opacity .7s ease 0.2s;
    text-align: justify;
}

.Allianz_Arena:hover .Astadium_text {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 103px;
    left: -128px;
}

.Olympiastadion_Berlin {
    cursor: pointer;
    position: absolute;
    left: 389px;
    top: 590px;
    width: 753px;
    height: 510px;
    background-color: #DC052D;
    border-radius: 8px;
    z-index: 999999;
}

.Ostadium {
    width: 100%;
}

.O_overlay {
    z-index: 999999;
    background-color: #DC052D;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: .7s ease;
}

.Olympiastadion_Berlin:hover .O_overlay {
    height: 100%;
    bottom: 0;
}

.Ostadium_text {
    opacity: 0;
    width: 0%;
    height: 0%;
    white-space: wrap;
    color: rgb(34, 34, 34);
    font-size: 20px;
    position: absolute;
    padding-left: 5px;
    overflow: hidden;
    top: 280px;
    left: 184px;
    transform: translate(10%, 10%);
    transition: opacity .7s ease 0.2s;
    text-align: justify;
}

.Olympiastadion_Berlin:hover .Ostadium_text {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 91px;
    left: -145px;
}

caption {
    cursor: pointer;
    background-color: rgb(248, 19, 38);
    color: #ddd;
    font-weight: bold;
    text-align: center;
}

aside {
    position: relative;
}

.top {
    font-weight: 450;
    border-radius: 5px;
    position: absolute;
    left: 7px;
    top: 228px;
    width: 40%;
    border-collapse: collapse;
    background-color: white;
}

.top th {
    cursor: pointer;
    text-align: left;
    padding: 8px;
}

.top td {
    cursor: pointer;
    text-align: left;
    padding: 8px;
}

.top tr {
    cursor: pointer;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid transparent;
}

.top tr:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}

.top tr:hover {
    color: white;
    opacity: 0.9;
    background-color: rgb(248, 19, 38);
}

.topC {
    font-weight: 450;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    top: 228px;
    right: 7px;
    border-collapse: collapse;
    background-color: white;
    border-spacing: 30px;
}

.topC th {
    cursor: pointer;
    text-align: left;
    padding: 8px;
}

.topC td {
    cursor: pointer;
    padding: 8px;
}

.topC tr {
    cursor: pointer;
    padding: 8px;
    border-bottom: 2px solid rgb(206, 10, 10);
}

.topC tr:nth-child(even) {
    background-color: rgb(212, 212, 212);
}

.topC td:hover {
    color: white;
    opacity: 0.9;
    background-color: rgb(248, 19, 38);
}

.topC th:hover {
    color: white;
    opacity: 0.9;
    background-color: rgb(248, 19, 38);
}

 section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#André_Silva {
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: 670px;
    width: 35%;
}

#haaland {
    cursor: pointer;
    position: absolute;
    top: -20px;
    left: 262px;
    width: 42%;
}

#Lewandowski {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: -250px;
    width: 37%;
}

#Bellingham {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 120px;
    width: 33%;
}

#muller {
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 1050px;
    width: 52%;
}

#reus {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 950px;
    width: 30%;
}

#paper_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#paper_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 ;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#text {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vw;
    text-shadow: -5px 0 rgb(255, 255, 255), 0 5px rgb(255, 255, 255), 5px 0 rgb(255, 255, 255), 0 -5px rgb(255, 255, 255);
    color: rgb(238, 15, 15);
    font-size: 10em;
    z-index: 1;
}


.states {
    position: absolute;
    width: 95%;
    top: 345%;
    left: -5px;
}

.top_scorer {
    cursor: pointer;
    position: absolute;
    width: 185px;
    height: 220px;
    top: 177%;
    left: 16px;
    z-index: 10000000;
}

.top_assists {
    cursor: pointer;
    position: absolute;
    width: 185px;
    height: 220px;
    top: 177%;
    left: 210px;
    z-index: 10000000;
}

.top_saves {
    cursor: pointer;
    position: absolute;
    width: 185px;
    height: 220px;
    top: 177%;
    left: 404px;
    z-index: 1000000;
}

.Scored_Goals {
    cursor: pointer;
    position: absolute;
    width: 185px;
    height: 220px;
    top: 177%;
    right: -70px;
    z-index: 1000000;
}

.penalties_Scored {
    cursor: pointer;
    position: absolute;
    width: 185px;
    height: 220px;
    top: 177%;
    right: 124px;
    z-index: 1000000;
}

.Own_Goals {
    cursor: pointer;
    position: absolute;
    height: 220px;
    top: 177%;
    right: 318px;
    z-index: 1000000;
}

.BA_photo {
    cursor: pointer;
    width: 100px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 23%;
    left: 24%;
}

.BA_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.WO_photo {
    cursor: pointer;
    width: 100px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 24%;
    left: 22%;
}

.WO_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.BO_photo {
    cursor: pointer;
    width: 120px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 22%;
    left: 18%;
}

.BO_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.Yann_photo {
    cursor: pointer;
    width: 100px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 15%;
    right: 50%;
    left: 18%;
}

.Yann_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.lv_photo {
    cursor: pointer;
    width: 214px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 15%;
    right: 50%;
    left: -8%;
}

.lv_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.mu_photo {
    cursor: pointer;
    width: 214px;
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.01s;
    top: 15%;
    right: 50%;
    left: -8%;
}

.mu_photo:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.upspan {
    position: absolute;
    left: 50px;
    top: 10px;
}

.up {
    cursor: pointer;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 185px;
    height: 40px;
    background-color: #000000;
    color: white;
    position: sticky;
    top: 100%;
    left: 0px;
}

.up:hover {
    background-color: white;
    color: rgb(43, 43, 43);
}

.BG_S {
    border-radius: 5px;
    background-color: #62C47E;
    width: 185px;
    height: 200px;
    position: relative;
}

.BG_GC {
    border-radius: 5px;
    background-color: #DC052D;
    width: 185px;
    height: 200px;
    position: relative;
}

.BG_GP {
    border-radius: 5px;
    background-color: #DC052D;
    width: 185px;
    height: 200px;
    position: relative;
}

.BG_A {
    border-radius: 5px;
    background-color: #DC052D;
    width: 185px;
    height: 200px;
    position: relative;
}

.BG_P {
    border-radius: 5px;
    background-color: #FFE600;
    width: 185px;
    height: 200px;
    position: relative;
}

.BG_O {
    border-radius: 5px;
    background-color: #009932;
    width: 185px;
    height: 200px;
    position: relative;
}

.Number {
    border-radius: 5%;
    position: absolute;
    text-align: center;
    top: -3px;
    height: 52px;
    left: 0px;
    width: 185px;
    color: rgb(228, 228, 228);
    background-color: #000000;
}

.Number:hover {
    background-color: white;
    color: rgb(43, 43, 43);
}

.black {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 185px;
    height: 43px;
    background-color: #0a2629;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.clubs {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 10px;
    background-color: #020e11;
    width: 100%;
}

.logos_1 {
    cursor: pointer;
    display: flex;
    position: absolute;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    left: 4px;
    top: 55px;
    height: 66px;
}

.logos_2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    height: 66px;
    left: 867px;
    top: 55px;
}

.logos_0 {
    cursor: pointer;
    width: 251px;
    height: 200px;
    position: relative;
    top: -14px;
    left: -90px;
}

.bundesliga {
    cursor: pointer;
    position: absolute;
    width: 100%;
    align-self: center;
    top: 15px;
    left: 50px;
}

.media {
    cursor: pointer;
    width: auto;
    height: 400px;
    position: absolute;
    top: 2880px;
    left: 510px;
}

audio {
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 100px;
}

video {
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: -65px;
}

 

